@font-face {
  font-family: 'opensans-regular';
  src: url('./assets/fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/opensans/opensans-regular-webfont.woff') format('woff'),
  url('./assets/fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
  url('./assets/fonts/opensans/opensans-regular-webfont.svg#DIN-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans-bold';
  src: url('./assets/fonts/opensans/opensans-bold-webfont.eot#iefix') format('embedded-opentype'),
  url('./assets/fonts/opensans/opensans-bold-webfont.woff') format('woff'),
  url('./assets/fonts/opensans/opensans-bold.ttf') format('truetype'),
  url('./assets/fonts/opensans/opensans-bold-webfont.svg#DIN-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bold {
  font-family:"opensans-bold";
  font-weight: 700;
}
