.converter {
  background-color: #ffb311;
  border: none;
  border-radius: 18px;
  height: 4.5rem;
  width: 25rem;
  margin-top: 1.5rem;

  a {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
  }
}
